<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Fighter List <i class="fas fa-skull-crossbones"></i></h1>
    <div class="d-flex justify-content-around">
      <% @fighters.each do |fighter| %>
      <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= fighter.name %></h5>
          <p class="card-text">Health: <%= fighter.health %> <br>Power: <%= fighter.power %> </p>
          <a href="#" class="btn btn-primary">Customize</a>
          <a href="" class="btn "><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mt-5">
      <a href="" class="btn btn-danger"><i class="fa fa-plus" aria-hidden="true"></i> New fighter</a>
    </div>
  </div>
</div>
