<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Captain Arena <i class="fas fa-skull-crossbones"></i></h1>
    <h2>Who would win?</h2>
    <p>Create your fighter and let's find out!</p>
    <div>
      <a href="" class="btn btn-danger btn-lg">Fight!</a>
    </div>
  </div>
</div>
