<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Captain Arena <i class="fas fa-skull-crossbones"></i></h1>
    <div class="mt-5">
      <h2>Who would win?</h2>
      <p>Create your fighter and let's find out!</p>
    </div>
    <%= link_to fights_path do %>
    <div class="btn btn-danger btn-lg mt-5"> Enter the Arena </div>
    <% end %>
  </div>
</div>
