<div class="container">
  <div class="border rounded mt-5 p-5 text-center">
    <h1><i class="fas fa-skull-crossbones"></i> Fights history <i class="fas fa-skull-crossbones"></i></h1>
    <div class="d-flex justify-content-around">
      <% @fights.each do |fight| %>
      <div class="card mt-5" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= fight.player.name %>
          VS <%= fight.opponent.name %>
          </h5>
        </div>
      </div>
      <% end %>
    </div>
    <div class="mt-5 btn btn-danger">
      <%= link_to "New fight !", new_fight_path, style: 'color:#F4F4F4'  %>
    </div>
  </div>
</div>
